* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(to bottom, #a18cd1 0%, #fbc2eb 100%);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
  min-height: 100vh;
}

.container {
  background: white;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}


.task-input-area {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

#input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

#add-btn {
  padding: 10px 16px;
  font-size: 16px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

#add-btn:disabled {
  background-color: #646464;
  cursor: not-allowed;
}

.task-display-area {
  max-height: 400px;
  overflow-y: auto;
}

#task-list {
  list-style: none;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 12px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border-radius: 6px;
  transition: background 0.3s;
}

li:hover {
  background-color: #f0f0f0;
}

li input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  accent-color: #4caf50;
  cursor: pointer;
  margin-right: 10px;
}

li input[type="checkbox"]:checked {
  background-color: #4caf50;
  border-color: #4caf50;
}

li span {
  flex: 1;
  text-overflow: auto;
}

li span.checked {
  text-decoration: line-through;
  color: gray;
  opacity: 0.6;
}

.delete-btn {
  background: none;
  border: none;
  font-size: 18px;
  color: #000000;
  cursor: pointer;
  transition: color 0.3s;
}

.delete-btn:hover {
  color: #b71c1c;
}
